<!-- Título del cuadro de diálogo, se actualiza dinámicamente -->
<h1 mat-dialog-title>Eliminar Empleado</h1>

<div mat-dialog-content>¿Desea Eliminar al Empleado "{{dataEmpleado.nombreCompleto}}"?</div>

<div mat-dialog-actions>
  <!-- Botón para cerrar el cuadro de diálogo (no realiza cambios) -->
  <button mat-raised-button mat-dialog-close color="warn">No,volver</button>

  <!-- Botón para agregar o editar un empleado, habilitado solo si el formulario es válido -->
  <button mat-raised-button color="primary" (click)="confirmar_Eliminar()" cdkFocusInitial>Si, Eliminar</button>
</div>

