<div style="width: 70%; margin: 40px auto;">
  <h1>Lista de Empleados</h1>

  <!-- Botón para abrir el diálogo de nuevo empleado -->
  <button mat-raised-button color="primary" mat-button (click)="dialogoNuevoEmpleado()" style="margin-bottom: 1rem;">Nuevo Empleado</button>

  <!-- Campo de filtro -->
  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
  </mat-form-field>

  <!-- Contenedor de la tabla con sombra -->
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">

      <!-- Columnas de la tabla -->
      <!-- Columna: Nombre Completo -->
      <ng-container matColumnDef="NombreCompleto">
        <th mat-header-cell *matHeaderCellDef>Nombre Completo</th>
        <td mat-cell *matCellDef="let element"> {{element.nombreCompleto}} </td>
      </ng-container>

      <!-- Columna: Departamento -->
      <ng-container matColumnDef="Departamento">
        <th mat-header-cell *matHeaderCellDef>Departamento</th>
        <td mat-cell *matCellDef="let element"> {{element.nombreDepartamento}} </td>
      </ng-container>

      <!-- Columna: Sueldo -->
      <ng-container matColumnDef="Sueldo">
        <th mat-header-cell *matHeaderCellDef>Sueldo</th>
        <td mat-cell *matCellDef="let element"> {{element.sueldo}} </td>
      </ng-container>

      <!-- Columna: Fecha de Contrato -->
      <ng-container matColumnDef="FechaContrato">
        <th mat-header-cell *matHeaderCellDef>Fecha Contrato</th>
        <td mat-cell *matCellDef="let element"> {{element.fechaContrato}} </td>
      </ng-container>

      <!-- Columna: Acciones -->
      <ng-container matColumnDef="Acciones" >
        <th mat-header-cell *matHeaderCellDef style="width: 80px;"></th>
        <td mat-cell *matCellDef="let element" style="display: flex; padding: 3px;" >
          <!-- Botones de edición y eliminación -->
          <button mat-icon-button color="primary">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <!-- Filas de la tabla -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <!-- Paginador para controlar la cantidad de filas por página -->
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements">
    </mat-paginator>
  </div>
</div>
